<% provide(:title, 'Roasters') %>

<h1>Roasters</h1>

<div class="row">

  <div class="span6 offset3">
    <table>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Avg Rating</th>
        <th>Description</th>
        <th></th>
        <th></th>
      </tr>

      <% @roasters.each do |roaster| %>
          <tr>
            <td><%= link_to roaster.name, roaster %></td>
            <td><%= roaster.location %></td>
            <td><%= roaster.avg_rating.round(2) %></td>
            <td><%= roaster.description %></td>
            <% if current_user && current_user.admin? %>
                <td><%= link_to "Remove", bean, method: :delete, data: {confirm: "Are you sure?"} %></td>
            <% end %>
          </tr>
      <% end %>
    </table>

    <br>

    <%= button_tag "Add a roaster", type: "button", onclick: "$('#new-roaster-form').toggle()",
                   class: "btn btn-small btn-primary" %>

    <div id="new-roaster-form" style="display: none;">
      <%= form_for(@roaster) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <%= f.label :name %>
          <%= f.text_field :name %>

          <%= f.label :location %>
          <%= f.text_field :location, onchange: "geolocate()", id: "autocomplete_location", placeholder: "" %> <br>

          <%= f.label :description %>
          <%= f.text_field :description %>

          <%= f.submit "Submit Roaster", class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
  </div>

</div>

<script>init_auto_location()</script>