<% provide(:title, 'Roasters') %>
<div class="row-fluid">
<div class="text-center span3 offset4"><h1 class="beanheading">Roasters</h1></div><span class="add_bean span2 offset1">
<%= button_tag "Add a roaster", type: "button", onclick: "$('#new-roaster-form').toggle()",
                   class: "btn" do %><i class="plus_sign glyphicon glyphicon-plus"></i><i class="glyphicon"></i><% end %></span>

</div>


<div class="row">
  <div class="span8 offset2">
    <%= render 'shared/new_roaster_form' %>
    <script>if($('.alert-error').text()) $('#new-roaster-form').show()</script>
      <% @roasters.each do |roaster| %>
        <div class="eachbean">
          <div class="row-fluid">
            <div class="span3">
              <%= image_tag "placeholder.png" %>
            </div>
            <div class="span3">
              <span class="roaster_name"><%= link_to roaster.name, roaster %></span><br>
              <span class="roaster_location"><%= roaster.location %></span>
            </div>
            <div class="span5 offset1">
              <span class="roaster_avgrating">Avg. Rating: &nbsp;&nbsp;&nbsp;<%= roaster.avg_rating != "None" ? roaster.avg_rating.round(2) : "None" %></span><br>
              <span class="roaster_description">Description:&nbsp;&nbsp;&nbsp;<%= roaster.description %></span><br>
              <% if current_user && current_user.admin? %>
                  <%= link_to "Remove", bean, method: :delete, data: {confirm: "Are you sure?"} %>
              <% end %>
            </div>
             </div>
              </div>
      <% end %>
     </div>
    <%= will_paginate @roasters %>




 <div class="span4">

    <%= render 'shared/new_roaster_form' %>
    <script>if($('.alert-error').text()) $('#new-roaster-form').show()</script>

  </div>

<script>init_auto_location()</script>