<% provide(:title, 'Roasters') %>

<h1>Roasters</h1>

<div class="row">

  <div class="span6 offset1">
    <table>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Avg Rating</th>
        <th>Description</th>
        <th></th>
        <th></th>
      </tr>

      <% @roasters.each do |roaster| %>
          <tr>
            <td><%= link_to roaster.name, roaster %></td>
            <td><%= roaster.location %></td>
            <td><%= roaster.avg_rating != "None" ? roaster.avg_rating.round(2) : "None" %></td>
            <td><%= roaster.description %></td>
            <% if current_user && current_user.admin? %>
                <td><%= link_to "Remove", bean, method: :delete, data: {confirm: "Are you sure?"} %></td>
            <% end %>
          </tr>
      <% end %>
    </table>
    <%= will_paginate @roasters %>

  </div>
  <div class="span4">

    <%= button_tag "Add a roaster", type: "button", onclick: "$('#new-roaster-form').toggle()",
                   class: "btn btn-small btn-primary" %>

    <%= render 'shared/new_roaster_form' %>
    <script>if($('.alert-error').text()) $('#new-roaster-form').show()</script>

  </div>

</div>

<script>init_auto_location()</script>