<div id="new-bean-form" style="display: none;">
  <%= form_for(@bean) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :roaster_name %>
      <%= f.text_field :roaster_name, data: {autocomplete_roaster_source: '/roastersearch'} %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :roast %>
      <%= f.text_field :roast %>

      <%= f.label :origin %>
      <%= f.text_field :origin %>
      <br>

      <%= f.submit "Submit Bean", class: "btn btn-large btn-primary" %>
  <% end %>
</div>