<div id="new-roaster-form" style="display: none;">
  <%= form_for(@roaster) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :location %>
      <%= f.text_field :location, onchange: "geolocate()", id: "autocomplete_location", placeholder: "" %> <br>

      <%= f.label :description %>
      <%= f.text_field :description %>
      <br><br>

      <%= f.submit "Submit Roaster", class: "btn" %>
  <% end %>
</div>