<% provide(:title, 'Beans') %>

  <h1>Beans</h1>

  <div class="row">

    <div class="span6 offset3">
      <table>
        <tr>
          <th>Roaster</th>
          <th>Bean</th>
          <th>Roast</th>
          <th>Origin</th>
          <th>Avg Rating</th>
          <th></th>
          <th></th>
        </tr>

        <% @beans.each do |bean| %>
            <tr>
              <td><%= bean.roaster %></td>
              <td><%= link_to bean.name, bean %></td>
              <td><%= bean.roast %></td>
              <td><%= bean.origin %></td>
              <td><%= bean.avg_rating.round(2) %></td>
              <td><%= link_to "Rate", new_review_path(:bean_id => bean.id) %></td>
              <% if current_user.admin? %>
                  <td><%= link_to "Remove", bean, method: :delete, data: {confirm: "Are you sure?"} %></td>
              <% end %>
            </tr>
        <% end %>
      </table>

      <br>

      <%#= link_to "Add a bean", new_bean_path,
                  class: "btn btn-small btn-primary" %>
      <%= button_tag "Add a bean", type: "button", onclick: "$('#new-bean-form').toggle()",
                  class: "btn btn-small btn-primary" %>

      <div id="new-bean-form" style="display: none;">
        <%= form_for(@bean) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <%= f.label :roaster %>
            <%= f.text_field :roaster %>

            <%= f.label :name %>
            <%= f.text_field :name %>

            <%= f.label :roast %>
            <%= f.text_field :roast %>

            <%= f.label :origin %>
            <%= f.text_field :origin %>

            <%= f.label :location, "Roaster location" %>
            <%= f.text_field :location, onchange: "geolocate()", id: "autocomplete", placeholder: "" %> <br>

            <%= f.submit "Submit Bean", class: "btn btn-large btn-primary" %>
        <% end %>
      </div>
    </div>

  </div>

<script>initialize()</script>