<% provide(:title, 'Beans') %>
<div class="row-fluid">
<div class="text-center span3 offset4"><h1 class="beanheading">Beans</h1></div><span class="add_bean span2 offset1">
<%= button_tag "Add a bean", type: "button", onclick: "$('#new-bean-form').toggle()",
                   class: "btn" do %><i class="plus_sign glyphicon glyphicon-plus"></i><% end %></span>

</div>


<div class="row">
  <div class="span8 offset2">
      <% @beans.each do |bean| %>
        <div class="eachbean">
          <div class="row-fluid">
            <div class="span3">
              <%= image_tag "placeholder.png" %>
            </div>
            <div class="span3">
              <span class="bean"><%= link_to bean.name, bean %></span><br>
              <span class="roaster"><%= link_to bean.roaster.name, bean.roaster %></span>
            </div>
            <div class="span3 offset1">
              <span class="roast">Roast:&nbsp;&nbsp;&nbsp;<%= bean.roast %></span><br>
              <span class="origin">Origin:&nbsp;&nbsp;&nbsp;<%= bean.origin %></span><br>
              <span class="rating">Rating:&nbsp;&nbsp;&nbsp;<%= bean.avg_rating != "None" ? bean.avg_rating.round(2) : "None" %></span><br>
              <span class="rate_button">
                <% if signed_in? %>
                    <%= link_to "Rate", new_review_path(:bean_id => bean.id) %>
                <% end %>
              </span><br>
                <% if current_user && current_user.admin? %>
                    <%= link_to "Remove", bean, method: :delete, data: {confirm: "Are you sure?"} %>
                <% end %>
            </div>
          </div> 
        </div>
      <% end %>
   

    <div id="new-bean-form" style="display: none;">
      <%= form_for(@bean) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <%= f.label :roaster_name %>
          <%= f.text_field :roaster_name, data: {autocomplete_roaster_source: '/roastersearch'} %>

          <%= f.label :name %>
          <%= f.text_field :name %>

          <%= f.label :roast %>
          <%= f.text_field :roast %>

          <%= f.label :origin %>
          <%= f.text_field :origin %>
          <br>

          <%= f.submit "Submit Bean", class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
  </div>

</div>

<script>init_auto_roaster()</script>