<div class="row">
  <div class="span6 offset3">
    <%= form_for(@bean) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :name %>
        <%= f.text_field :name %> 

        <%= f.label :roaster %>
        <%= f.text_field :roaster %> 
        
        <%= f.label :roast %>
        <%= f.text_field :roast %> 
        
        <%= f.label :origin %>
        <%= f.text_field :origin %> 

        <%= f.label :location, "Roaster location" %>
        <%= f.text_field :location, onchange: "geolocate()", id: "autocomplete", placeholder: "" %> <br>
        
        <%= f.submit "Submit Bean", class: "btn btn-large btn-primary" %>
    <% end %>
    <%#= link_to "Cancel - back to beans", beans_path,
                class: "btn btn-small btn-cancel" %>
  </div>
</div>