<% provide(:title, "Edit review") %>
<h1>Edit your review</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @review, :html => {:class => 'need_slider'} do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :rating, "Rating: None" %>
        <%= f.range_field :rating, in: 0..5, step: '.5', value: 0 %>

        <%= f.label :brew_method %>
        <%= f.text_field :brew_method, :value => @review.brew_method %>

        <%= f.label :description %>
        <%= f.text_field :description %> <br>

        <%= hidden_field_tag :bean_id, params[:bean_id] %>
        <%= hidden_field_tag :user_id, current_user.id %>

        <%= f.submit "Update Review", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>
<script>
        $(".need_slider").change(function () {
            $form = $(this);
            $input_value = $form.children("#review_rating").val();
            $final_input = $input_value == 0 ? "None" : $input_value;
            $label = $form.children("#review_rating").prev();
            $label.text("Rating: " + $final_input);
        });
</script>