<% provide(:title, 'Feed') %>
<h1>The Ol' Bean Feed</h1>

<div class="row">
  <div class="span6 offset3">
    <table>
      <tr>
        <th>Reviewer</th>
        <th>Rating</th>
        <th>Description</th>
        <th></th>
        <th></th>
      </tr>

      <% @reviews.each do |review| %>
          <tr>
            <td><%= link_to review.user.name, review.user %></td>
            <td><%= review.rating %></td>
            <td><%= review.description %></td>
            <td><%= link_to "Full review", review %></td>
            <% if current_user.admin? %>
                <td><%= link_to "Remove", bean, method: :delete, data: {confirm: "Are you sure?"} %></td>
            <% end %>
          </tr>
      <% end %>
    </table>
    
  </div>
</div>