<% provide(:title, @review.bean.name) %>
<div class="container">
  <div class="row">
    <div class="span3">
      <p>Bean: <%= @review.bean.name %></p>
    </div>

    <div class="span6">
      <ul>
        <li>Roaster: <%= @review.bean.roaster.name %></li>
        <li>Origin: <%= @review.bean.origin %></li>
        <li>Rating: <%= @review.rating %></li>
        <li>Description: <%= @review.description %></li>
        <li>Submitted by: <%= @review.user.name %></li>
      </ul>
    </div>
  </div>
</div>